<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVvZ9evTHLIpW8tc6Y2K1CYdCzYCYMFYk</string>
	<key>GCM_SENDER_ID</key>
	<string>450615736950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bankx.kakaobankapp</string>
	<key>PROJECT_ID</key>
	<string>bankx-code-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>bankx-code-assignment.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450615736950:ios:567124a90c33a084c93d57</string>
</dict>
</plist>